{#{% extends 'base.html' %}#}
{#{% block title %} Reset password{% endblock %}#}
{##}
{#{% block content %}#}
{#    <div class="container-fluid">#}
{#    <div class="row">#}
{#        <div class="col-md-6 offset-md-3">#}
{#            <div class="card">#}
{#                <div class="card-body">#}
{#                    <h3>Your password was changed with success</h3>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    </div>#}
{#{% endblock %}#}