{% extends 'base.html' %}

{% block title %} Change password {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header">
                        Change password
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="card-body">
                            {{ form.as_p }}
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-outline-dark">Change password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}