{#{%  extends 'base.html' %}#}
{##}
{#{% block title %} Reset Password {% endblock %}#}
{#{% block content %}#}
{#    <div class="container-fluid">#}
{#    <div class="row">#}
{#        <div class="col-md-6 offset-md-3">#}
{#            <div class="card">#}
{#                <div class="card-header"> Reset password </div>#}
{#                <form method="post">#}
{#                    {% csrf_token %}#}
{#                    <div class="card-body">#}
{#                        {{ form.as_p }}#}
{#                    </div>#}
{#                    <div class="card-footer text-center">#}
{#                        <button type="submit" class="btn btn-outline-dark"> Reset </button>#}
{#                    </div>#}
{#                </form>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    </div>#}
{##}
{#{% endblock %}#}