{% extends 'base.html' %}
{% block title %} Expense List {% endblock %}

{% block content %}
    <h2 class="d-flex justify-content-center" style="background-color: mediumpurple;"> EXPENSES </h2>
    <div class="container-fluid d-flex justify-content-center">
        <br>
        <div class="col-md-9">
            <div class="row">
                {#--------------------------------------------------------------------#}
                <button type="button" class="btn btn-outline-dark col-md-6 offset-md-3 mb-2" data-bs-toggle="modal"
                        data-bs-target="#filtrare">
                    Filter
                </button>

                <div class="modal fade" id="filtrare" tabindex="-1"
                     aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form method="get">
                                <div class="modal-header">

                                    <h5 class="modal-title" id="exampleModalLabel">
                                        Filter</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    {{ my_filter.form }}
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-light" type="submit" style="font-size:12px">Search</button>
                                    <a class="btn btn-light" href="{% url 'list_of_expenses' %}" style="font-size:12px">Reset
                                        filters</a>
                                </div>
                            </form>
                        </div>

                    </div>

                </div>
                <h4 class="d-flex justify-content-center">
                    <a type="button" class="btn btn-dark" href="{% url 'create_expense' %}">Add Expense</a>
                </h4>
                <br>

                {% if all_expenses %}
                    <table class="table table-bordered table-hover border-primary align-middle text-center"
                           style="border-color: mediumpurple !important;">
                        <thead>
                        <tr class="table-dark table-bordered border-primary"
                            style="border-color: mediumpurple !important; color : mediumpurple !important;">
                            <th scope="col">Category</th>
                            <th scope="col">Subcategory</th>
                            <th scope="col">Type</th>
                            <th scope="col">Date</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Working Days</th>
                            <th scope="col">Options</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for expense in all_expenses %}
                            <tr>
                                <td> {{ expense.category }}</td>
                                <td> {{ expense.subcategory }}</td>
                                <td> {{ expense.type }}</td>
                                <td> {{ expense.transaction_date|date:"d-M-y" }}</td>
                                <td> {{ expense.amount }}</td>
                                <td> {{ expense.working_days|floatformat:2 }} </td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">

                                        <a type="button" class="btn btn-light"
                                           href="{% url 'update_expense' expense.id %}">Update</a>

                                        <button type="button" class="btn btn-light" data-bs-toggle="modal"
                                                data-bs-target="#expense_{{ expense.id }}">
                                            Delete
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <div class="modal fade" id="expense_{{ expense.id }}" tabindex="-1"
                                 aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">
                                                Delete, {{ expense }}</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to delete this transaction? {{ expense }} ?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No
                                            </button>
                                            <a href="{% url 'delete_expense_modal' expense.id %}"
                                               class="btn btn-danger">Yes</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <tr class="table-dark table-bordered border-primary"
                            style="border-color: mediumpurple !important; color : mediumpurple !important;">
                            <td colspan="4"><b> Total </b></td>
                            <td><b> {{ total_expenses.total }} </b></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}