{% extends 'base.html' %}
{% block title %} Savings Category Dashboard {% endblock %}

{% block content %}
    <div class="container-fluid d-flex justify-content-center">
        <form action="" id="filter_form">
            <div class="d-flex justify-content-center">
                <select class="form-select" name="year_selected"
                        onchange="document.getElementById('filter_form').submit()">
                    {% for year in unique_years %}
                        <option value="{{ year }}" {% if selected_year == year %}selected{% endif %}>{{ year }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="d-flex justify-content-center">
                {% for xchoice in filter_xchoices %}
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="filter_xchoices" id="inlineRadio1"
                               onchange="document.getElementById('filter_form').submit()"
                               value="{{ xchoice }}" {% if x_choice == xchoice %}checked{% endif %}>
                        <label class="form-check-label" for="inlineRadio1"> {{ xchoice }} </label></div>
                {% endfor %}
            </div>
            <div class="d-flex justify-content-center">
                {% for chart in chart_choice %}
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="chart_choice" id="inlineRadio1"
                               onchange="document.getElementById('filter_form').submit()"
                               value="{{ chart }}" {% if choice == chart %}checked{% endif %}>
                        <label class="form-check-label" for="inlineRadio1"> {{ chart }} </label></div>
                {% endfor %}
            </div>

        </form>
    </div>

    {{ sav_category_chart | safe }}

{% endblock %}
