{% extends 'base.html' %}
{% load static %}
{% block title %} Dashboard {% endblock %}

{% block content %}
    <br>
    {#    filter#}
    <div class="container-fluid d-flex justify-content-center">

        <form action="" id="filter_form">
            <div class="container-fluid d-flex justify-content-center">


                <div class="d-flex justify-content-center">

                    {#        date filter#}
                    <select class="form-select" name="date_selected"
                            onchange="document.getElementById('filter_form').submit()">
                        {% for date in unique_dates %}
                            <option value="{{ date }}"
                                    {% if selected_date == date %}selected{% endif %}>{{ date }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </form>
    </div>
    <br>
    <br>
    <br>
    {#    annual#}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="text-align: center; border-color: mediumpurple;">
                    <div class="card-header" style="background-color: mediumpurple">
                        <h2> Incomes - {{ selected_year }} </h2>
                    </div>
                    <div class="card-body">
                        {% if all_incomes %}
                            <h2> {{ all_incomes }}</h2>
                        {% else %}
                            <h2> {{ zero }} </h2>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card" style="text-align: center; border-color: mediumpurple;">
                    <div class="card-header" style="background-color: mediumpurple">
                        <h2> Expenses - {{ selected_year }} </h2>
                    </div>
                    <div class="card-body">
                        {% if all_expenses %}
                            <h2> {{ all_expenses }}</h2>
                        {% else %}
                            <h2> {{ zero }} </h2>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="text-align: center; border-color: mediumpurple;">
                    <div class="card-header" style="background-color: mediumpurple">

                        <h2> Balance - {{ selected_year }} </h2>
                    </div>
                    <div class="card-body">
                        {% if balance %}
                            <h2> {{ balance }}</h2>
                        {% else %}
                            <h2> {{ zero }}</h2>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </div>
    <br>

    {#     monthly#}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="text-align: center; border-color: mediumpurple; font-size: 25px;">
                    <div class="card-header" style="color: mediumpurple">
                        <p> Incomes - Month {{ selected_month }} </p>
                    </div>
                    {% if all_incomes_month %}
                        <p> {{ all_incomes_month }}</p>
                    {% else %}
                        <p> {{ zero }} </p>
                    {% endif %}

                </div>
            </div>

            <div class="col-md-4">
                <div class="card" style="text-align: center; border-color: mediumpurple; font-size: 25px;">
                    <div class="card-header" style="color: mediumpurple">
                        <p> Expenses - Month {{ selected_month }} </p>
                    </div>
                    {% if all_expenses_month %}
                        <p> {{ all_expenses_month }}</p>
                    {% else %}
                        <p> {{ zero }} </p>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="text-align: center; border-color: mediumpurple; font-size: 25px;">
                    <div class="card-header" style="color: mediumpurple">
                        <p> Balance - Month {{ selected_month }}</p>
                    </div>
                    {% if balance_month %}
                        <p> {{ balance_month }}</p>
                    {% else %}
                        <p> {{ zero }}</p>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
    <br>
    {#    daily#}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="text-align: center; border-color: mediumpurple; font-size: 25px;">
                    <div class="card-header" style="color: mediumpurple">
                        <p> Daily Rate - Month {{ selected_month }} </p>
                    </div>
                    {% if all_incomes_month %}
                        <p> {{ daily_rate }}</p>
                    {% else %}
                        <p> {{ zero }} </p>
                    {% endif %}

                </div>
            </div>

            <div class="col-md-4">
                <div class="card" style="text-align: center; border-color: mediumpurple; font-size: 25px;">
                    <div class="card-header" style="color: mediumpurple">
                        <p> Working days - Month {{ selected_month }} </p>
                    </div>
                    {% if all_expenses_month %}
                        <p> {{ working_days|floatformat:2 }}</p>
                    {% else %}
                        <p> {{ zero }} </p>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="text-align: center; border-color: mediumpurple; font-size: 25px;">
                    <div class="card-header" style="color: mediumpurple">
                        <p> Balance Days - Month {{ selected_month }}</p>
                    </div>
                    {% if balance_days %}
                        <p> {{ balance_days|floatformat:2 }}</p>
                    {% else %}
                        <p> {{ zero }} </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}