{% extends 'base.html' %}
{% block title %} Saving Dashboard {% endblock %}

{% block content %}
 <div class="container-fluid d-flex justify-content-center">
        <form action="" id="filter_form">
        <div class="d-flex justify-content-center">
    <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal"
            data-bs-target="#filtrare">
        Filter
    </button>
        </div>

    <div class="modal fade" id="filtrare" tabindex="-1"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                    <div class="modal-header">

                        <h5 class="modal-title" id="exampleModalLabel">
                            Filter</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {{ my_filter.form }}
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-light" type="submit" style="font-size:12px">Search</button>
                        <a class="btn btn-light" href="{% url 'saving_dashboard' %}" style="font-size:12px">Reset
                            filters</a>
                    </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center">
        {% for chart in chart_choice %}
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="chart_choice" id="inlineRadio1"
                       onchange="document.getElementById('filter_form').submit()"
                       value="{{ chart }}" {% if choice == chart %}checked{% endif %}>
                <label class="form-check-label" for="inlineRadio1"> {{ chart }} </label></div>
        {% endfor %}
    </div>
    </form>
    </div>

    {{ saving_chart | safe }}

{% endblock %}
