{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {#    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>#}
    <style>
        body {
            background-color: whitesmoke;
        }
    </style>
</head>
<body>
<div class="container-fluid">
{% include 'navbar.html' %}

<div class="main">
    <div class="row">
        <div class="col-md-6">
            <div class="d-flex justify-content-start align-items-center">
                <h2>MyBudget</h2>
            </div>
        </div>
        <div class="col-md-6">
            {% if request.user.is_authenticated %}
                <div class="d-flex justify-content-end align-items-center">
                    <div class="dropdown">
                        <button class="btn btn-outline-dark dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                            {{ request.user.first_name }} {{ request.user.last_name }}
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'password_change' %}">Change password</a></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                        </ul>
                    </div>
                </div>
                </div>

            {% endif %}
        {% if not request.user.is_authenticated %}
            <div class="d-flex justify-content-md-end">
                <a href="{% url 'login' %}" class="btn btn-outline-dark"> Login </a>
                <a href="{% url 'create_user' %}" class="btn btn-outline-dark"> Sign up</a>
            </div>
        {% endif %}

    </div>
</div>
<div class="row">
    {% block content %} {% endblock %}
</div>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
        integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
        crossorigin="anonymous"></script>
</div>
</body>
</html>