<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            font-family: "Lato", sans-serif;
        }

        /* Fixed sidenav, full height */
        .sidenav {
            height: 100%;
            width: 150px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #121216;
            overflow-x: hidden;
            padding-top: 5px;
        }

        /* Style the sidenav links and the dropdown button */
        .sidenav a, h3, .dropdown-btn {
            padding: 6px 8px 6px 16px;
            text-decoration: none;
            font-size: 15px;
            color: #818181;
            display: block;
            border: none;
            background: none;
            width: 100%;
            text-align: left;
            cursor: pointer;
            outline: none;
        }

        /* On mouse-over */
        .sidenav a:hover, .dropdown-btn:hover {
            color: #f1f1f1;
        }

        /* Main content */
        .main {
            margin-left: 150px; /* Same as the width of the sidenav */
            font-size: 15px; /* Increased text to enable scrolling */
            padding: 0px 10px;
        }

        /* Add an active class to the active dropdown button */
        .active {
            background-color: mediumpurple;
            color: white;
        }

        /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
        .dropdown-container {
            display: none;
            background-color: #262626;
            padding-left: 8px;
        }

        /* Optional: Style the caret down icon */
        .fa-caret-down {
            float: right;
            padding-right: 8px;
        }

        /* Some media queries for responsiveness */
        @media screen and (max-height: 450px) {
            .sidenav {
                padding-top: 15px;
            }

            .sidenav a {
                font-size: 15px;
            }
        }
    </style>
</head>
<body>

<div class="sidenav">
    <div>
        <img src="{% static 'images/my_budget.jpg' %}" class="col-12">

    </div>
    <br>
    <button class="dropdown-btn">Incomes
        <i class="fa fa-caret-down"></i>
    </button>
{#    {% if user.is_authenticated %}#}
        <div class="dropdown-container">
            <a href="{% url 'list_of_incomes' %}">List</a>
            <a href="{% url 'income_dashboard' %}">Income Chart</a>
            <a href="{% url 'in_category_dashboard' %}">Comparison Chart</a>

        </div>
{#    {% endif %}#}
    <button class="dropdown-btn">Expenses
        <i class="fa fa-caret-down"></i>
    </button>
{#    {% if user.is_authenticated %}#}
        <div class="dropdown-container">
            <a href="{% url 'list_of_expenses' %}">List</a>
            <a href="{% url 'expense_dashboard' %}">Expense Chart</a>
            <a href="{% url 'ex_category_dashboard' %}">Comparison Chart</a>
        </div>
{#    {% endif %}#}
    <button class="dropdown-btn">Savings
        <i class="fa fa-caret-down"></i>
    </button>
{#    {% if user.is_authenticated %}#}
        <div class="dropdown-container">
            <a href="{% url 'list_of_savings' %}">List</a>
            <a href="{% url 'saving_dashboard' %}">Savings Chart</a>
            <a href="{% url 'sav_category_dashboard' %}">Comparison Chart</a>
        </div>
{#    {% endif %}#}
    <br>
    <button class="dropdown-btn">Dashboards
        <i class="fa fa-caret-down"></i>
    </button>
{#    {% if user.is_authenticated %}#}
        <div class="dropdown-container">
            <a href="{% url 'dashboard' %}">Balance</a>

        </div>
{#    {% endif %}#}
    <br>
    <a href="{% url 'help_page' %}">Help</a>
    <br>
    <br>
    <br>
    <br>

</div>

<script>
    /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
    var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;

    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        });
    }
</script>

</body>
</html>
