{% extends 'base.html' %}

{% block title %} Help! {% endblock %}

{% block content %}
    <div class="d-flex justify-content-center" style="color:mediumpurple">
        <h1> MyBudget!</h1>
    </div>
    <br>
    <br>
    <div class="d-flex justify-content-center text-center">
        <p> Do you wonder where the money went to at the end of the month?<br>
            This is a personal finance monitoring application that helps you answer this question.<br>
            Here you can record your income, expenses and savings.<br>
            You tell the money where to go so that you don't wonder what it went to at the end of the month!<br></p>
    </div>

{% endblock %}