{% extends 'base.html' %}

{% block title %} Welcome! {% endblock %}

{% block content %}
    <br><br><br><br><br><br><br><br>
    <div class="d-flex justify-content-center align-items-center">
        <h1 style="color:mediumpurple"> Welcome to MyBudget!</h1>
    </div>
    <div class="d-flex justify-content-center align-items-center">
        <p style="font-style:italic">A budget is telling your money where to go instead of wondering where it went.</p>
    </div>

{% endblock %}